version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: furbitobet-db
    environment:
      POSTGRES_DB: furbitobet
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: furbitobet-backend
    environment:
      DB_URL: jdbc:postgresql://postgres:5432/furbitobet
      DB_USER: postgres
      DB_PASSWORD: password
      MAIL_USERNAME: ${MAIL_USERNAME}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
      ADMIN_PASSWORD: password123
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    container_name: furbitobet-frontend
    ports:
      - "80:80"
    depends_on:
      - backend

  pgadmin:
    image: dpage/pgadmin4
    container_name: furbitobet-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  postgres_data:
